@page "{id:int}"
@model shadowbase.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClientData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData.Phone)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ClientData.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
