@page
@model shadowbase.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ClientData?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
