@page
@model shadowbase.Pages.Bids.IndexModel

@{
    ViewData["Title"] = "Bids";
}

<h1>Bids</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].Auction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].BidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].BidDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bid) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Auction.AuctionID)
                    </td>
                        
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.BidID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.BidID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.BidID">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

