@page
@model shadowbase.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.TypeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.TypeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.PayPalEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.PayPalEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserData?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
