@page "{id:int?}"
@model shadowbase.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserType.UserTypeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PayPalEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PayPalEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LicenseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LicenseID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User?.UserID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
