@page
@model shadowbase.Pages.Users.IndexModel

@{
    ViewData["Title"] = "UserData";
}

<h2>UserData</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].TypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].FirstName)
            </th>
            <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
               asp-route-currentFilter="@Model.CurrentFilter">
                <th>
                    @Html.DisplayNameFor(model => model.UserData[0].LastName)
                </th>
            </a>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].Phone)
            </th>
            <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
               asp-route-currentFilter="@Model.CurrentFilter">
                <th>
                    @Html.DisplayNameFor(model => model.UserData[0].Email)
                </th>
            </a>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].PayPalEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayPalEmail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.UserData.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.UserData.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.UserData.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.UserData.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>