@page
@model shadowbase.Pages.AuctionTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuctionType[0].AuctionTypeDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AuctionType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionTypeDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AuctionTypeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AuctionTypeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AuctionTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
