@page "{id:int}"
@model shadowbase.Pages.Auctions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.User.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.AuctionStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.AuctionStatus.AuctionStatusDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.AuctionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.AuctionType.AuctionTypeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.HomeBudget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.HomeBudget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.BidLimit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.BidLimit)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Auction.AuctionID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
