@page
@model shadowbase.Pages.Auctions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Auction[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auction[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auction[0].AuctionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auction[0].AuctionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auction[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auction[0].ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auction[0].HomeBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auction[0].BidLimit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Auction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionStatus.AuctionStatusDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionType.AuctionTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidLimit)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AuctionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AuctionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AuctionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
