@page
@model shadowbase.Pages.Auctions.IndexModel

@{
    ViewData["Title"] = "AuctionData";

}

<h2>AuctionData</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuctionData[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionData[0].ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionData[0].StatusID)
            </th>
            <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
               asp-route-currentFilter="@Model.CurrentFilter">
                <th>
                    @Html.DisplayNameFor(model => model.AuctionData[0].Type)
                </th>
            </a>
            <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
               asp-route-currentFilter="@Model.CurrentFilter">
                <th>
                    @Html.DisplayNameFor(model => model.AuctionData[0].CreationDate)
                </th>
            </a>
            <th>
                @Html.DisplayNameFor(model => model.AuctionData[0].ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionData[0].HomeBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionData[0].BidID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionData[0].BidLimit)
            </th>
            <th></th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AuctionData)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidLimit)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.AuctionData.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.AuctionData.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.AuctionData.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.AuctionData.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>