@page
@model shadowbase.Pages.Auctions.IndexModel

@{
    ViewData["Title"] = "Auctions";
}

@* <h1>Auctions</h1> *@
<h2>Auctions</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>


<form>
    <p>
       @*  Listing Type: <select name="AuctionTypeSelect" asp-for="AuctionType" asp-items="Model.Types">
            <option value="">All</option>
        </select>
        Status: <select name="AuctionStatusSelect" asp-for="AuctionStatus" asp-items="Model.Statuses">
            <option value="">All</option>
        </select>  *@    
        Auction ID: <input type="text" asp-for="SearchString" /> 
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AuctionSort"
                    asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Auctions[0].AuctionID)    
                </a>
            </th>

            @* <th>
                @Html.DisplayNameFor(model => model.Auctions[0].AuctionID)
            </th> *@

            <th>
                @Html.DisplayNameFor(model => model.Auctions[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auctions[0].Client)
            </th>

          @*   <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StatusSort">
                    @Html.DisplayNameFor(model => model.Auctions[0].AuctionStatus.AuctionStatusDescription)
                </a>
            </th> *@

            <th>
                @Html.DisplayNameFor(model => model.Auctions[0].AuctionStatus)
            </th>

           @*  <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TypeSort">
                    @Html.DisplayNameFor(model => model.Auctions[0].AuctionType.AuctionTypeDescription)
                </a>
            </th> *@

            <th>
                @Html.DisplayNameFor(model => model.Auctions[0].AuctionType)
            </th>

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CreationSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Auctions[0].CreationDate)
                </a>
            </th>

            @* <th>
                @Html.DisplayNameFor(model => model.Auctions[0].CreationDate)
            </th> *@

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ExpirySort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Auctions[0].ExpiryDate)
                </a>
            </th>

            @* <th>
                @Html.DisplayNameFor(model => model.Auctions[0].ExpiryDate)
            </th> *@

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BudgetSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Auctions[0].HomeBudget)
                </a>
            </th>
            
           @*  <th>
                @Html.DisplayNameFor(model => model.Auctions[0].HomeBudget)
            </th> *@

            <th>
                @Html.DisplayNameFor(model => model.Auctions[0].BidLimit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Auctions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionStatus.AuctionStatusDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionType.AuctionTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidLimit)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AuctionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AuctionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AuctionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Auctions.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Auctions.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Auctions.PageIndex -1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Auctions.PageIndex +1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @nextDisabled">
    Next
</a>